/* dark */
:root {
  --square-colour: rgb(11, 11, 11);
}
/* lightmode */
@media (prefers-color-scheme: light) {
  :root {
    --square-colour: rgb(246, 246, 246);
  }
}

.board-container {
  box-sizing: border-box;
  display: grid;

  width: 90%;
  max-width: 900px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  --grid-gap: 0.1rem;
  padding: var(--grid-gap);
  gap: var(--grid-gap);
  border-radius: 0.3rem;
  background-color: rgba(64, 0, 255, 0.249);
}

.board {
  /* --board-width: 250px; */
  /* width: var(--board-width); */
  /* width: 100%; */
  /* max-width: 300px; */
  display: grid;
  aspect-ratio: 1/1;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  gap: var(--grid-gap);
  border: var(--grid-gap) solid var(--border-colour);
  border-radius: 0.3rem;
  background: var(--border-colour);
}
/* @media (width <= 1000px) {
  .board {
    font-size: 0.85rem;
  }
}
@media (width <= 800px) {
  .board {
    font-size: 0.8rem;
  }
} */
@media (width <= 800px) {
  .board {
    font-size: 0.75rem;
  }
}
@media (width <= 500px) {
  .board {
    font-size: 0.5rem;
  }
}

/* .board[data-index='board1'] {
  background: var(--border-colour);
} */
.square {
  cursor: pointer;
  border-radius: 0.3rem;
  background: var(--square-colour);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
}
.square:hover {
  background: var(--border-colour);
}
