.settings__container {
  --boxshadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  position: absolute;
  top: 20px;
  right: 20px;
}
/* when its sibling has the open class*/
.settings__button:has(+ .open) {
  opacity: 1;
  background: var(--accent-colour);
  color: white;
  box-shadow: var(--boxshadow);
}
.settings__dropdown-wrapper {
  position: relative;
  display: inline-block;
}

.settings__dropdown {
  margin-top: 0.3em;
  border-radius: var(--border-radius);
  display: none;
  position: absolute;
  background-color: var(--square-colour);
  width: 100%;
  box-shadow: var(--boxshadow);
  z-index: 1;
}

.settings__dropdown a {
  border-radius: var(--border-radius);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: var(--text-colour);
}

.settings__dropdown a:hover {
  background-color: var(--square-colour_hover);
}

.open {
  display: block;
}
