.settings__container {
  --boxshadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  position: absolute;
  top: 20px;
  right: 20px;
}
/* when its sibling has the open class*/
.settings__button:has(+ .open) {
  opacity: 1;
  background: var(--accent-colour);
  color: white;
  box-shadow: var(--boxshadow);
}

.settings__dropdown-wrapper {
  position: relative;
  display: inline-block;
}

.settings__dropdown {
  margin-top: 0.3em;
  border-radius: var(--border-radius);
  display: none;
  position: absolute;
  background-color: var(--square-colour);
  min-width: 100%;
  width: max-content;
  box-shadow: var(--boxshadow);
  z-index: 1;
  right: 0;
}

.settings__dropdown .collapsible {
  border-radius: var(--border-radius);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: var(--text-colour);
  width: 100%;

  background-color: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

/* hover or has a sibling thats open*/
.settings__dropdown .collapsible:hover,
.settings__dropdown .collapsible:has(+ .open) {
  opacity: 1;
  background-color: var(--square-colour_hover);
}
/* has a sibling thats open */
.settings__dropdown .collapsible:has(+ .open) {
  padding-inline: 0 2.16rem; /* magic number will fix later */
  text-align: end;
  background-image: repeating-linear-gradient(
    135deg,
    var(--square-colour),
    var(--square-colour) 10px,
    var(--square-colour_hover) 10px,
    var(--square-colour_hover) 20px
  );
}

.open {
  /* important is needed because of specificity i think*/
  display: block !important;
}
.settings__dropdown .content {
  padding: 12px 18px;
  display: none;
  overflow: hidden;
  background-color: var(--square-colour_hover);
}

.settings__dropdown .content p {
  margin-top: 0;
}
